body{
	margin: 0;
}

.flux {
	display: flex;
	flex-wrap: wrap;
}

.img {
	width: 14em;
	height: 12em;
	margin-right: .5em;
	margin-bottom: .5em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.full {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(0,0,0,0.6);
}

.overlaid {
	text-align: center;
	z-index: 40;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: black;
}

.titre_debut {
	color: white;
	font-size: 30px;
}

.demarrer.demarrer.demarrer.demarrer.demarrer {
	margin-top: 25%;
}

.ferme {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
}

.x {
	font-size: 80px;
	top: 5% !important;
	right: 5%;
	color: white;
	text-shadow: 2px 2px 2px;
}

.basket_css{
	position: fixed;
	top: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 100vw;
	text-align: center;
	border-radius: solid white 2px;
	background-color: #CFD8DC;
	overflow: scroll;
}

.bouton_panier {
	text-align: center;
	z-index: 1;
	position: fixed !important;
	top: 0;
	right: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.tourne {
	font-size: 80px;
	z-index: 8;
	animation: rotation 3s;
}

.main.main.main.main{
	margin-top: 50px;
	z-index: -1;
}

.finaliser.finaliser.finaliser.finaliser.finaliser {
	margin-top: 10px;
}

.last_step {
	padding-top: 100px;
	z-index: 50;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 100vw;
	text-align: center;
	border-radius: solid white 2px;
	background-color: #CFD8DC;
}