body{
	margin: 0;
}


h1 {
	margin-top: 30%;
	font-size: 45px;
	color: white;
}

h2 {
	font-size: 40px;
	color: white;
}

.flux {
	display: flex;
	flex-wrap: wrap;
}

.boutons_menu {
	top:0;
	left: 0;
	position: fixed;
	z-index: 10;
}

.carte_panier.carte_panier.carte_panier.carte_panier.carte_panier {
	margin-right: 20px;
	margin-bottom: 20px;
}
.carte_enfant {
	display: flex;
	flex-direction: column;
	margin-right: 18px;
	margin-bottom: 20px;
}

.image_enfant {
	width: 290px;
	height: 232px;
	background-size: cover;
	background-position: center center;
}

.boutons_enfant {
	display: flex;
	flex-direction: row;
}

.ajout {
	width: 145px;
}

.droite.droite.droite.droite.droite {
	margin-left: -4px;
}

.image_parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 290px;
	height: 260px;
	margin-right: 18px;
	margin-bottom: 20px;
	background-size: cover;
	background-position: center center;
}

.full {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(0,0,0,0.6);
}

.overlaid {
	text-align: center;
	z-index: 40;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: black;
}

.titre_debut {
	color: white;
	font-size: 30px;
}

.demarrer.demarrer.demarrer.demarrer.demarrer {
	margin-top: 15%;
}

.ferme {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
}

.x {
	font-size: 80px;
	top: 5% !important;
	right: 5%;
	color: white;
	text-shadow: 2px 2px 2px;
}

.basket_css{
	padding-left: 20px;
	z-index: 11;
	position: fixed;
	top: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 100vw;
	text-align: center;
	border-radius: solid white 2px;
	background-color: #E0E0E0;
	overflow: scroll;
}

.bouton_panier {
	top: 0;
	left: 0;
}


@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}

.tourne {
	font-size: 80px;
	z-index: 8;
	animation: rotation 3s;
}

.main.main.main.main{
	margin-top: 50px;
	z-index: -1;
	margin-left: 20px;
}

.finaliser.finaliser.finaliser.finaliser.finaliser {
	margin-top: 10px;
}

.last_step {
	padding-top: 100px;
	z-index: 50;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 100vw;
	text-align: center;
	border-radius: solid white 2px;
	background-color: #E0E0E0;
}



.ligne {
	display: inline-block;
}

.message.message.message.message {

	z-index: 99;
	width: 200px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;
	position: absolute;
	margin-top: -20px;
	left: 3;
}

.espace_panier.espace_panier.espace_panier {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	margin-bottom: 50px;
}

.ecran_fin {
	display: none;
	text-align: center;
	z-index: 40;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: grey;
}

.accueil.accueil.accueil.accueil {
	margin-top: 25%;
}

.boutons {
	display: flex;
	flex-wrap: wrap;
}


.container_config {
	z-index: 500;
	position: fixed;
	display: 100vh;
	padding-top: 60px;
	width: 100vw;
	height: 100vh;
	background-color: teal;
}